/* stylelint-disable */
.blank {
  width: 100%;
  height: 6px;
}
.form-wrap {
  display: flex !important;
}
// edit-dialog select与input 对齐
.dialog-form {
  .el-select {
    width: 200px;
  }
}
.app-container {
  // padding-bottom: 50px;
  background: #f9f7f5;
}
.title-top{
  background: white;
  padding-bottom: 10px;
}
.app-container,
.list-container {
  .title-part {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .cus-input {
    min-height: 40px;
    .el-select,
    .el-autocomplete {
      width: 100%;
      padding: 0;
      border: none;
      .is-focus {
        height: 40px;
        // border: 1px solid #dcdfe6;
      }
    }
    .el-select .el-input .el-input__inner {
      border-color: #dcdfe6 !important;
    }
    .el-select .el-input .el-input__inner:hover {
      border-color: #c0c4cc !important;
    }
    .el-select .el-input.is-focus .el-input__inner {
      border-color: #409eff !important;
    }
  }
  .form-wrap {
    position: relative;
    min-height: 40px;
    margin: 5px 15px;
    .cus-input {
      height: 40px;
    }
    .el-autocomplete {
      width: 100%;
      height: 40px;
    }
  }
  .cell {
    text-align: center;
  }
  .el-input-group__prepend {
    min-width: 111px;
    text-align: center;
  }
}
// 多选框对齐
.el-checkbox + .el-checkbox {
  margin-left: 0;
}
.el-checkbox:not(:last-child) {
  margin-right: 30px;
}
// 选择网络范围中，启用中及提示样式
.status .is-disabled,
.status .is-disabled:hover {
  color: #fff !important;
  cursor: default !important;
  background-color: #67c23a !important;
  border-color: #67c23a !important;
}
.tipText {
  color: #9fa3ab;
}
// 删除确认框内容样式
.slotWrap {
  margin-top: 30px;
}
.dialogLeft {
  display: inline-block;
  float: left;
  height: 40px;
  padding-left: 10%;
  line-height: 40px;
  text-align: right;
}
.border {
  margin: 12px;
  background-color: #fff;
  border: 1px solid #ebeef5;
  .page-title {
    padding: 12px 24px;
    font-size: 18px;
  }
}
.page-title {
  margin: 15px 0 0 24px;
  font-size: 20px;
}
.el-carousel {
  z-index: 1;
}
// 侧边菜单栏文字不可被选择
.el-submenu__title,
.el-menu-item {
  user-select: none !important;
}
// 表单禁用项样式
div.el-input.is-disabled input.el-input__inner,
div.el-textarea.is-disabled textarea.el-textarea__inner {
  color: #6f7277;
}

input::-webkit-input-placeholder {
  // placeholder字体大小
  // font-size: 12px;
  // placeholder颜色
  color: #9fa3ab !important;
  // placeholder位置
  // text-align: left;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #9fa3ab;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9fa3ab;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9fa3ab;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9fa3ab;
}

.cus-date-picker-wrap {
  // 日期选择器父级元素必须设置宽度，不然日期选择无法自适应
  // width: 100%;
  position: absolute;
  width: calc(100% - 111px) !important;
  .spe-wrap {
    width: 100% !important;
    height: 100% !important;
    max-height: 40px;
    overflow: hidden;
    line-height: 32px;
    .el-input__inner {
      border: none;
    }
  }

  // .el-range-editor {
  //   .el-input__inner {
  //     padding: 0 20px;
  //   }
  //   .el-range__icon {
  //     height: 40px;
  //   }
  //   .el-range-separator {
  //     height: auto;
  //   }
  // }
  // .el-range-input {
  //   height: 36px;
  //   margin-top: 2px;
  // }
}

// form的size为mini时，保持表单内select与input等宽
div.form-wrap {
  div.el-form-item__content > .el-select--mini {
    .el-input__inner {
      width: 200px;
    }
  }
  div.el-form-item__content > .el-input--mini {
    .el-textarea__inner {
      width: 200px;
    }
  }
  div.el-form-item__content > .row-textarea {
    .el-textarea__inner {
      width: 70%;
      height: 90px;
    }
  }
}
// 去除input的type为number时上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
// ctrl+放大后错位问题
body .el-table th.gutter {
  display: table-cell !important;
}
body .el-table colgroup.gutter {
  display: table-cell !important;
}

.el-select__input {
  vertical-align: baseline;
}
.upload-wrap .el-button {
  margin: 0 !important;
}
.btn-group {
  text-align: right;
  .btn-group-item {
    padding: 7px;
    margin: 6px;
  }
}
// 级联选择器
.el-cascader-menu {
  min-width: 130px !important;
  height: auto !important;
}
.font-color {
  color: #409eff;
}

.btn-jump {
  cursor: pointer;
}
.el-cascader-menu__item:hover,
.el-cascader-menu__item:focus:not(:active) {
  color: #66b1ff !important;
  background-color: #ecf5ff !important;
}

.box-card {
  margin: 20px;
}
// 折叠面板样式
.cus-collapse-top {
  height: 54px;
  line-height: 30px;
  .remarks {
    float: left;
    line-height: 43px;
  }
}
.cus-collapse {
  .cus-collapse-item {
    display: table;
    width: 100%;
  }
  .cus-collapse-item-title-span {
    padding: 0 24px;
    border-right: 1px solid #333;
  }
  .cus-collapse-item-title-span:last-child {
    border-right: none;
  }
  .cus-collapse-item-btn-group {
    float: right;
    margin-right: 24px;
  }
  .el-collapse-item__content {
    display: table;
    width: 100%;
    .cus-collapse-item-left {
      display: table-cell;
      width: 40px;
      background-color: #f2f5fc;
      border-right: 5px solid #409eff;
    }
    .cus-collapse-item-right {
      display: table-cell;
    }
  }
}
.cus-collapse .el-collapse-item {
  padding: 0 12px;
  margin: 12px 0;
}

.cus-collapse .el-collapse-item__header {
  margin-bottom: 1px !important;
  background-color: #f2f5fc !important;
}
.cus-collapse .is-active {
  border-bottom: 1px solid #d7d7d7;
}
.cus-collapse .el-collapse-item__arrow {
  float: left;
  margin-left: 18px;
  font-weight: bold;
  border: none;
}
.cus-collapse-item-content {
  display: table;
  float: left;
  font-size: 13px;
}
.cus-collapse-item-title {
  display: table-cell;
  width: 100px;
  padding: 10px 20px;
  color: #aaa;
}
.cus-collapse-item-text {
  display: table-cell;
  width: 300px;
  padding: 10px 20px;
  color: #333;
}
// element-ui对话框标题居中
.el-dialog__header {
  text-align: center;
}
.el-message-box__title {
  text-align: center;
}
.filter-container {
  .form-wrap {
    min-width: 300px;
  }
}
.search-style{
  padding-left: 152px;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #edf5ff;
}

.el-table td,
.el-table th,
.building-top .el-table th.is-leaf {
  border: 1px solid #cae3ff;
}

.el-table::before {
  border-bottom: 1px solid #cae3ff;
}
/* stylelint-enable */
