/* ===自定义样式变量=== */

/* 新增变量 background */
$dark-color-background: #2d3a4b;
$dark-color-background-input: #283443;
$dark-color-hover-background: #1f2d3d;
$dark-color-hover-aside: #001528;
$dark-color-border-color: #3e4957;

/* 新增变量 color */
$tint-color: #eee;
$tint-color-background-header: #fff;
$tint-color-header: #409eff;
$tint-color-hover-header: #167ff0;
